bin/Debug/net9.0/AngleSharp.dll
bin/Debug/net9.0/appsettings.json
bin/Debug/net9.0/chromedriver.exe
bin/Debug/net9.0/ICSharpCode.SharpZipLib.dll
bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
bin/Debug/net9.0/Newtonsoft.Json.dll
bin/Debug/net9.0/nunit_random_seed.tmp
bin/Debug/net9.0/nunit.engine.api.dll
bin/Debug/net9.0/nunit.engine.core.dll
bin/Debug/net9.0/nunit.engine.dll
bin/Debug/net9.0/nunit.framework.dll
bin/Debug/net9.0/nunit.framework.legacy.dll
bin/Debug/net9.0/NUnit3.TestAdapter.dll
bin/Debug/net9.0/NUnit3.TestAdapter.pdb
bin/Debug/net9.0/SiSolutions.UiTests.deps.json
bin/Debug/net9.0/SiSolutions.UiTests.dll
bin/Debug/net9.0/SiSolutions.UiTests.pdb
bin/Debug/net9.0/SiSolutions.UiTests.runtimeconfig.json
bin/Debug/net9.0/testcentric.engine.metadata.dll
bin/Debug/net9.0/testhost.dll
bin/Debug/net9.0/testhost.exe
bin/Debug/net9.0/WebDriver.dll
bin/Debug/net9.0/WebDriver.Support.dll
bin/Debug/net9.0/WebDriverManager.dll
bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/selenium-manager/linux/selenium-manager
bin/Debug/net9.0/selenium-manager/macos/selenium-manager
bin/Debug/net9.0/selenium-manager/windows/selenium-manager.exe
bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
obj/project.assets.json
obj/project.nuget.cache
obj/SiSolutions.UiTests.csproj.nuget.dgspec.json
obj/SiSolutions.UiTests.csproj.nuget.g.props
obj/SiSolutions.UiTests.csproj.nuget.g.targets
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/SiSoluti.C9586E11.Up2Date
obj/Debug/net9.0/SiSolutions.UiTests.AssemblyInfo.cs
obj/Debug/net9.0/SiSolutions.UiTests.AssemblyInfoInputs.cache
obj/Debug/net9.0/SiSolutions.UiTests.assets.cache
obj/Debug/net9.0/SiSolutions.UiTests.csproj.AssemblyReference.cache
obj/Debug/net9.0/SiSolutions.UiTests.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/SiSolutions.UiTests.csproj.FileListAbsolute.txt
obj/Debug/net9.0/SiSolutions.UiTests.dll
obj/Debug/net9.0/SiSolutions.UiTests.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/SiSolutions.UiTests.genruntimeconfig.cache
obj/Debug/net9.0/SiSolutions.UiTests.GlobalUsings.g.cs
obj/Debug/net9.0/SiSolutions.UiTests.pdb
obj/Debug/net9.0/SiSolutions.UiTests.sourcelink.json
obj/Debug/net9.0/ref/SiSolutions.UiTests.dll
obj/Debug/net9.0/refint/SiSolutions.UiTests.dll
